<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    
    <link rel="icon" href="/images/paste_favicon.png">
    
    <link rel="stylesheet" href="/css/prism.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/prism.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/savy.min.js"></script>
    <script src="/js/paste.js"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    
    <form method="POST" id="pasteForm">
        <div class="form-group">
            <div class="row">
                <!--
                <div class="col-md-4">
                    <label for="pastePassword">Paste password (leave as is for publicly visible)</label>
                    <input type="text" class="form-control" id="pastePassword" placeholder="Password">
                </div>
                -->
                <div class="col-md-6">
                    <label for="langList">Paste language</label>
                    <select class="form-control auto-save" id="langList">
                        <option value="cpp">C++</option>
                        <option value="c">C</option>
                        <option value="bash">Bash</option>
                        <option value="php">PHP</option>
                        <option value="markup">HTML</option>
                        <option value="json">JSON</option>
                        <option value="diff">Diff</option>
                        <option value="javascript">JavaScript</option>
                        <option value="sql">SQL</option>
                        <option value="markup">XML</option>
                        <option value="none">Plain text</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="lifetimeList">Lifetime</label>
                    <select class="form-control auto-save" id="lifetimeList">
                        <option value="0">1 hour</option>
                        <option value="1">4 hours</option>
                        <option value="2">1 day</option>
                        <option value="3">1 week</option>
                        <option value="4">2 weeks</option>
                        <option value="5" selected>1 month</option>
                        <option value="6">1 year</option>
                        <option value="7">As long as possible</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pasteContent">Data to paste</label>
            <textarea class="form-control" id="pasteContent" rows="20" placeholder="Content"></textarea>
        </div>
        <!--
        <button type="submit" class="btn btn-default pull-right">Paste</button>
        -->
        <div class="btn-group pull-right" role="group" aria-label="...">
            <input type="hidden" name="action" id="action" value="encrypted_paste" />
            <button type="submit" class="btn btn-default" id="plain_paste">Paste</button>
            <button type="submit" class="btn btn-default" id="encrypted_paste">Paste encrypted</button>
        </div>
    </form>
    
    <div class="clearfix"></div>
    <!--
    {% for paste in pasteList %}
    <a href="/{{ paste._id }}">URL To paste</a>
    <pre class="line-numbers"><code class="language-{{ paste.language }}">{{ paste.data }}</code></pre>
    {% endfor %}
    -->
  </body>
</html>
