<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" href="/images/paste_favicon.png">
    
    <link rel="stylesheet" href="/css/prism.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/prism.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/savy.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/qr-creator.min.js"></script>
    <script src="/js/paste.js"></script>
  </head>
  <body>
    <!-- Modal -->
    <div id="qrModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    
    <h1><a href="/">{{ title }}</a></h1>
    <a href="/{{ url }}">URL To paste</a> - <a href="javascript:qr('{{ url }}');"><span class="glyphicon glyphicon-qrcode"></a> | <a href="/{{ url }}/raw">raw</a> - <a href="javascript:qr('{{ url }}/raw');"><span class="glyphicon glyphicon-qrcode"></a>
    {% paste x in data %}
      <pre class="line-numbers"><code class="language-{{ data.language }}">{{ paste.data }}</code></pre>
    {% endfor %}
  </body>
</html>
